<%= form_for(@railway_carriage) do |form| %>
  <% if @railway_carriage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@railway_carriage.errors.count, "error") %> prohibited this carriage from being saved:</h2>

      <ul>
        <% @railway_carriage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_of_carriage %>
    <%= form.select :type_of_carriage,  [%w[Compartment Compartment], ['Reserved seat', 'Reserved seat']]%>
  </div>

  <div class="field">
    <%= form.label :num_of_top_seats %>
    <%= form.text_field :num_of_top_seats %>
  </div>

  <div class="field">
    <%= form.label :num_of_bottom_seats %>
    <%= form.text_field :num_of_bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :train_ids, "Select train to add carriage" %>
    <%= form.collection_select :train_id, Train.all, :id, :number, {} %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @railway_carriage.new_record? ? 'Create' : 'Edit' }"%>
  </div>
<% end %>
