<table>
  <tbody>
  <% @route.each do |route| %>
    <tr>
      <td>Departure time:</td>
      <td>Departure station:</td>
      <td>Arrival time:</td>
      <td>Arrival station:</td>
    </tr>
    <tr>
      <td><%= route.railway_stations.find(@begin_station.id).departure_time_at(route) %></td>
      <td><%= @begin_station.title %></td>
      <td><%= route.railway_stations.find(@end_station.id).arrival_time_at(route) %></td>
      <td><%= @end_station.title %></td>
    </tr>
    <tr>
      <td>These trains are available on this route:</td>
      <% route.trains.each do |train| %>
    </tr>
    <tr>
      <td>Train by number: <%= train.number %></td>
      <td><%= link_to "Buy ticket to this train", new_admin_train_ticket_path(train, begin_station: @begin_station,
                                                                        end_station: @end_station) %></td>
    </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
